@model kutuphaneApp.Models.tb_kullanıcılar

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Kullanıcı Ekle</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Kullanıcı Adı
            <div class="col-md-10">
                @Html.EditorFor(model => model.kullanici_adi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kullanici_adi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Ad Soyad
            <div class="col-md-10">
                @Html.EditorFor(model => model.ad_soyad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ad_soyad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Parola
            <div class="col-md-10">
                @Html.EditorFor(model => model.parola, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.parola, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ekle" class="btn btn-default" />
            </div>
        </div>
    </div>
    if (TempData["mesaj"] != null)
    {
        <p class="text-danger">
            @TempData["mesaj"].ToString()
        </p>}
}

